<div class="min-h-screen px-20 py-10">
    <h1 class="text-dark font-first font-bold uppercase text-4xl">
        @if (isEditing()) { Modifier la salle } @else { Ajouter une salle }
    </h1>

    <form #roomForm="ngForm" (ngSubmit)="submitForm(roomForm)" class="mt-8">
        <div class="grid gap-4">
            <div class="w-full">
                <label for="name" class="text-dark font-first font-bold uppercase border-b-2 border-primary">Nom de la salle</label>
                <div class="mt-2">
                    <input type="text" id="name" name="name" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                        [(ngModel)]="roomDatas.name" #name="ngModel">
                </div>
            </div>
            
            <!-- ADRESSES -->
            <div class="w-full">
                <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Adresse</label>
                <div class="mt-2">
                    <input type="text" name="address" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                        [(ngModel)]="roomDatas.address">
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-10">
                <div class="lg:w-1/3">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Code postal</label>
                    <div class="mt-2">
                        <input type="text" name="zip_code" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                            [(ngModel)]="roomDatas.zip_code">
                    </div>
                </div>
                <div class="lg:w-1/3">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Ville</label>
                    <div class="mt-2">
                        <input type="text" name="city" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                            [(ngModel)]="roomDatas.city">
                    </div>
                </div>
                <div class="lg:w-1/3">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Pays</label>
                    <div class="mt-2">
                        <input type="text" name="country" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                            [(ngModel)]="roomDatas.country">
                    </div>
                </div>
            </div>

            <!-- DETAILS -->
             <div class="flex flex-col lg:flex-row gap-10">
                 <div class="lg:w-1/2">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Surface (m²)</label>
                    <div class="mt-2">
                         <input type="number" name="size" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                         [(ngModel)]="roomDatas.size">
                    </div>
                 </div>
                 <div class="lg:w-1/2">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Prix (€ / H)</label>
                    <div class="mt-2">
                         <input type="number" name="price" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                         [(ngModel)]="roomDatas.price_per_hour">
                    </div>
                 </div>
             </div>

            <div class="w-full">
                <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Description</label>
                <div class="mt-2">
                    <textarea type="text" id="description" name="description" class="w-full px-4 py-2 bg-light border border-2 border-dark"
                        [(ngModel)]="roomDatas.description"></textarea>
                </div>
            </div>
        </div>

        <div class="mt-6">
            <h2 class="text-dark font-first font-bold uppercase text-lg">Horaires d'ouverture</h2>
        
            <div *ngFor="let hour of roomDatas.operating_hours; let i = index" class="flex items-center gap-4 mt-2">
                <label class="text-dark font-medium w-24">{{ hour.day | titlecase }}</label>
        
                <!-- Case à cocher "Fermé" -->
                <label class="flex items-center gap-2">
                    <input type="checkbox" [(ngModel)]="hour.closed" (change)="toggleClosed(i)" 
                           name="closed{{i}}" [ngModelOptions]="{standalone: true}">
                    <span>Fermé</span>
                </label>
        
                <!-- Champs horaires (désactivés si "Fermé" est coché) -->
                 <!-- <mat-form-field>
                    <mat-label>Ouverture</mat-label>
                    <input [(ngModel)]="hour.start" name="start{{i}}" 
                           class="px-4 py-2 border border-dark"
                           [disabled]="hour.closed" [ngModelOptions]="{standalone: true}"
                           matInput [matTimePicker]="picker">
                    <mat-timepicker-toggle matIconSuffix [for]="picker"/>
                    <mat-timepicker #picker/>
                 </mat-form-field> -->

                 <input type="time" [(ngModel)]="hour.start" name="start{{i}}" 
                           class="px-4 py-2 border border-dark"
                           [disabled]="hour.closed" [ngModelOptions]="{standalone: true}">
        
                <span>à</span>
        
                <input type="time" [(ngModel)]="hour.end" name="end{{i}}" 
                       class="px-4 py-2 border border-dark"
                       [disabled]="hour.closed" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="flex justify-end gap-4 mt-6">
            <button type="submit" class="px-6 py-2 bg-dark text-white uppercase font-bold">
                @if (isEditing()) { Modifier } @else { Ajouter }
            </button>
            <button type="button" class="px-6 py-2 border border-dark uppercase font-bold"
                >
                Annuler
            </button>
        </div>
    </form>
</div>
