<div class="min-h-screen px-20 py-10">
    <h1 class="text-dark font-first font-bold uppercase text-4xl">
        @if (isEditing()) { Modifier la salle } @else { Ajouter une salle }
    </h1>

    <form #roomForm="ngForm" (ngSubmit)="submitForm(roomForm)" class="mt-8">
        <div class="grid gap-4">
            <div class="w-full">
                <label for="name" class="text-dark font-first font-bold uppercase border-b-2 border-primary">Nom de la salle</label>
                <div class="mt-2">
                    <input type="text" id="name" name="name" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                        [(ngModel)]="roomDatas.name" #name="ngModel">
                </div>
            </div>
            
            <!-- ADRESSES -->
            <div class="w-full">
                <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Adresse</label>
                <div class="mt-2">
                    <input type="text" name="address" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                        [(ngModel)]="roomDatas.address">
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-10">
                <div class="lg:w-1/3">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Code postal</label>
                    <div class="mt-2">
                        <input type="text" name="zip_code" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                            [(ngModel)]="roomDatas.zip_code">
                    </div>
                </div>
                <div class="lg:w-1/3">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Ville</label>
                    <div class="mt-2">
                        <input type="text" name="city" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                            [(ngModel)]="roomDatas.city">
                    </div>
                </div>
                <div class="lg:w-1/3">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Pays</label>
                    <div class="mt-2">
                        <input type="text" name="country" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                            [(ngModel)]="roomDatas.country">
                    </div>
                </div>
            </div>

            <!-- DETAILS -->
            <div class="flex flex-col lg:flex-row gap-10">
                 <div class="lg:w-1/2">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Surface (m²)</label>
                    <div class="mt-2">
                         <input type="number" name="size" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                         [(ngModel)]="roomDatas.size">
                    </div>
                 </div>
                 <div class="lg:w-1/2">
                    <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Prix (€ / H)</label>
                    <div class="mt-2">
                         <input type="number" name="price" class="w-full px-4 py-2 text-dark font-medium bg-light border border-2 border-dark"
                         [(ngModel)]="roomDatas.price_per_hour">
                    </div>
                 </div>
             </div>

            <div class="w-full">
                <label class="text-dark font-first font-bold uppercase border-b-2 border-primary">Description</label>
                <div class="mt-2">
                    <textarea type="text" id="description" name="description" class="w-full px-4 py-2 bg-light border border-2 border-dark"
                        [(ngModel)]="roomDatas.description"></textarea>
                </div>
            </div>
            
            <div class="flex flex-col lg:flex-row gap-10">

                <div class="mt-6 lg:w-1/2">
                    <p class="text-dark font-first font-bold uppercase border-b-2 border-primary">Horaires d'ouverture</p>
                    
                    <div *ngFor="let hour of roomDatas.operating_hours; let i = index" class="flex items-center gap-4 mt-2">
                        <label class="text-dark font-medium w-24">{{ hour.day | titlecase }}</label>
                        
                        <!-- Case à cocher "Fermé" -->
                        <label class="flex items-center gap-2">
                            <input type="checkbox" [(ngModel)]="hour.closed" (change)="toggleClosed(i)" 
                            name="closed{{i}}" [ngModelOptions]="{standalone: true}">
                            <span>Fermé</span>
                        </label>
    
                        <input type="time" [(ngModel)]="hour.start" name="start{{i}}" 
                        class="px-4 py-2 border border-dark"
                        [disabled]="hour.closed" [ngModelOptions]="{standalone: true}">
                        
                        <span>à</span>
                        
                        <input type="time" [(ngModel)]="hour.end" name="end{{i}}" 
                        class="px-4 py-2 border border-dark"
                        [disabled]="hour.closed" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                
                <div class="mt-6 lg:w-1/2">
                    <p class="text-dark font-first font-bold uppercase border-b-2 border-primary">Matériel de la salle</p>
                
                    <div class="flex items-center gap-2 mb-4">
                        <input 
                            type="text" 
                            [(ngModel)]="newMaterial" 
                            name="newMaterial"
                            placeholder="Nom du matériel" 
                            class="border p-2 rounded w-full"
                        >
                        <button 
                            type="button"
                            (click)="addMaterial()" 
                            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                            {{ editingMaterialIndex !== null ? 'Modifier' : 'Ajouter' }}
                        </button>
                    </div>
                
                    <!-- Liste des matériels ajoutés -->
                    <ul class="mb-4">
                        <li *ngFor="let material of roomDatas.equipment; let i = index" 
                            class="flex justify-between items-center bg-gray-100 p-2 rounded mb-2">
                            <span>{{ material.name }}</span>
                            <div class="flex gap-2">
                                <button (click)="editMaterial(i)" class="text-blue-500">✏️</button>
                                <button (click)="removeMaterial(i)" class="text-red-500">❌</button>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>

            <div class="mt-6">
                <p class="text-dark font-first font-bold uppercase border-b-2 border-primary">Ajouter des photos</p>
                <input type="file">
            </div>
        </div>

        <div class="flex justify-end gap-4 mt-6">
            <button type="submit" class="px-6 py-2 bg-dark text-white uppercase font-bold">
                @if (isEditing()) { Modifier } @else { Ajouter }
            </button>
            <button type="button" class="px-6 py-2 border border-dark uppercase font-bold"
                >
                Annuler
            </button>
        </div>
    </form>
</div>
