<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Mes informations" class="uppercase font-first">
        <app-infos-perso></app-infos-perso>
    </mat-tab>
    <!-- <mat-tab label="Mon groupe">
        <app-band-perso></app-band-perso>
    </mat-tab> -->
    <mat-tab label="Ma structure">
        <app-structure-perso></app-structure-perso>
    </mat-tab>
    <mat-tab label="Mes salles">
        <app-room-perso></app-room-perso>
    </mat-tab>
    <mat-tab label="Mes réservations">
        <app-booking-perso></app-booking-perso>
    </mat-tab>
</mat-tab-group>