<div class="w-full lg:h-screen bg-cover bg-center flex flex-col items-center justify-center text-light bg-[url('/photos/piano.jpg')]">
<!-- Contenu principal -->
    <div class="flex flex-col py-6 lg:py-0 justify-center items-center text-center">
        <h1 class="font-first font-bold mb-4 text-light text-[48px] md:text-[64px] lg:text-[86px] xl:text-[128px]">BANDNEST</h1>
        <p class="text-lg font-second mb-4 md:mb-10 text-light">La plateforme de réservation de salles de répétitions</p>
        <h2 class="text-xl md:text-2xl font-first font-bold mb-6 text-light">TROUVER UN LOCAL DÈS MAINTENANT !</h2>
    
        <!-- Formulaire de recherche -->
        <div class="flex flex-col md:flex-row gap-4 md:gap-0 md:space-x-4">
            <div class="bg-light">
                <input type="text" placeholder="NOM DE LA SALLE" class="px-4 py-2 bg-light text-dark font-medium">
                <input type="text" placeholder="VILLE" class="px-4 py-2 bg-light text-dark font-medium">
            </div>
            <a href="plan-salles" class="px-4 py-2 bg-light text-dark font-first font-bold">RECHERCHER</a>
        </div>
    </div>
</div>
    
<div class="p-8 lg:p-10 xl:p-20 bg-light flex flex-col md:flex-row justify-center items-center gap-8 md:gap-0 md:space-x-8">
    <div class="md:w-1/2 space-y-8">
        <h2 class="text-4xl text-dark uppercase font-first font-bold">Vous êtes musiciens ?</h2>
        <p class="font-second text-dark">Nam asperiores molestiae non ullam distinctio qui molestiae esse vel velit libero eum eius alias aut
            reprehenderit optio. Est nulla reprehenderit in possimus soluta sit quasi expedita ex corrupti maxime. Et
            deleniti harum eum optio accusamus aut explicabo iste non laborum nesciunt qui quaerat pariatur ex corporis
            velit. Quo consequatur nobis et voluptatem galisum est cumque deserunt eum odit voluptatem qui assumenda
            aperiam.</p>
        <button class="p-4 bg-dark text-light font-first font-bold uppercase"><a href="infos-musicians">En savoir plus</a></button>
    </div>
    <div class="md:w-1/2">
        <img src="photos/piano.jpg" alt="" style="box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);">
    </div>
</div>

<div class="p-8 lg:p-10 xl:p-20 bg-dark text-light flex flex-col md:flex-row justify-center items-center gap-8 md:gap-0 md:space-x-8">
    <div class="md:w-1/2 shadow-2xl">
        <img src="photos/piano.jpg" alt="" style="box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);">
    </div>
    <div class="md:w-1/2 space-y-8">
        <h2 class="text-4xl text-light uppercase font-first font-bold">Vous possédez une salle de répétition?</h2>
        <p class="font-second text-light">Nam asperiores molestiae non ullam distinctio qui molestiae esse vel velit libero eum eius alias aut
            reprehenderit optio. Est nulla reprehenderit in possimus soluta sit quasi expedita ex corrupti maxime. Et
            deleniti harum eum optio accusamus aut explicabo iste non laborum nesciunt qui quaerat pariatur ex corporis
            velit. Quo consequatur nobis et voluptatem galisum est cumque deserunt eum odit voluptatem qui assumenda
            aperiam.</p>
        <button class="p-4 bg-light text-dark font-first font-bold uppercase">inscription</button>
    </div>
</div>

<div class="p-8 lg:p-10 xl:p-20 bg-light flex flex-col md:flex-row justify-center items-center gap-8 md:gap-0 md:space-x-8">
    <div class="md:w-1/2 space-y-8">
        <h2 class="text-4xl text-dark uppercase font-first font-bold">Qui sommes nous ?</h2>
        <p class="font-second text-dark">Nam asperiores molestiae non ullam distinctio qui molestiae esse vel velit libero eum eius alias aut
            reprehenderit optio. Est nulla reprehenderit in possimus soluta sit quasi expedita ex corrupti maxime. Et
            deleniti harum eum optio accusamus aut explicabo iste non laborum nesciunt qui quaerat pariatur ex corporis
            velit. Quo consequatur nobis et voluptatem galisum est cumque deserunt eum odit voluptatem qui assumenda
            aperiam.</p>
        <button class="p-4 bg-dark text-light font-first font-bold uppercase">En savoir plus</button>
    </div>
    <div class="md:w-1/2 flex flex-col justify-center items-center">
        <h1 class="text-dark text-8xl uppercase font-first font-bold xl:text-[164px]">band</h1>
        <h1 class="text-dark text-8xl uppercase font-first font-bold xl:text-[164px]">nest</h1>
    </div>
</div>
