<nav class="sticky top-0 flex justify-between px-20 py-6 bg-dark">
    <div class="flex items-center space-x-8">
        <a href="/" class="text-primary uppercase font-first font-bold text-xl">
            bandnest
        </a>
        <a href="plan-salles" class="font-second text-light items-center">Salles de répétitions</a>
        <a href="" class="font-second text-light items-center">Qui sommes nous ?</a>
    </div>
    <div class="flex items-center space-x-2">
        <a href="register" class="font-second text-light items-center">S'inscrire</a>
        <p class="text-light">|</p>
        <a href="login" class="font-second text-light items-center">Se connecter</a>
    </div>
</nav>